---
extends: default

rules:
  line-length:
    max: 120
    level: warning

  truthy:
    level: warning  # Allow Ansible-style booleans like 'yes', 'no'

  indentation:
    spaces: 2
    indent-sequences: consistent

  document-start:
    present: true  # Require --- at top of YAML files

skip_list:
  - unnamed[all]  # skip linting errors about unnamed plays (import_playbook usage)
